a:link{
    color:antiquewhite
}
a:hover{
    color:aquamarine
}
a:visited{
    color:antiquewhite
}
body{
    background-color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:antiquewhite;
}

#container{
    background-color:blueviolet;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 700px;
    height: 700px;
    text-align:center;
    color:antiquewhite;
    border-radius:20px;

}

#sitelink{
    background-color:rgb(42, 30, 61);
    margin: auto;
    margin-top: 3px;
    padding: 10px;
    width: 700px;
    height: 15px;
    text-align:center;
    color:antiquewhite;
    border-radius:20px;

}

